# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json

# Build directories
build/

# Executables
HelloCpp
*.exe
*.out
*.app

# VS Code
.vscode/
